/* Common Shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

.text-primary {
    color: #fd6e0a;
}

.primary-btn {
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    margin-right: 30px;
}

.sec-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sec-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* NavBar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    color: #181818;
    font-size: 55px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header styles */
.header {
    background-color: #fff8f3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .hero-pic {
    width: 584px;
}

.banner-greet {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bnr-description {
    margin-bottom: 25px;
}

.banner-content {
    max-width: 585px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* what i do section */

#what-i-do-description {
    padding: 0 115px;
    margin-top: 30px;
}

/* card section */
.card-section {
    display: flex;
    gap: 25px;
}

.card {
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.card-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* resume section */
.cv {
    display: flex;
    gap: 71px;
    margin: 115px 0;
}

#resume-cv {
    margin-top: 130px;

}

.resume-heading {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

hr {
    color: #D1D1D1;
}

.cv-button {
    text-align: center;
}

/* footer styles */
footer {
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
    padding: 130px 230px;
    margin-top: 130px;
}

#footer-col {
    font-size: 16px;
    font-weight: 400;

}

.footer-col {
    width: 100%;
}

.social-links a {
    margin-right: 25px;
    width: 24px;
    height: 24px;
}

.contact input[type="text"],
.contact input[type="email"],
footer textarea {
    margin-bottom: 24px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 18px;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    border: 0;
}


/* responsive design */
.hide {
    display: none;
}

@media screen and (max-width:576px) {
    .card-section {
        flex-direction: column;
    }

    #what-i-do-description {
        padding: 20px;
    }

    .resume-container {
        margin-bottom: 30px;
    }

    .sec-title {
        margin-bottom: 20px;
    }

    .cv {
        flex-direction: column;
        margin: 0;
        padding: 10px;
        gap: 0;
    }

    .resume-heading {
        text-align: center;
        color: #757575;
    }

    footer {
        flex-direction: column-reverse;
        padding: 0;
        gap: 30px;
        margin: 0;
    }

    .footer-col {
        text-align: center;
        margin: 0 auto;
        width: calc(100% - 40px);
    }

    .contact {
        margin: 0 auto;
    }

    .contact input[type="text"],
    .contact input[type="email"],
    footer textarea {
        width: calc(100% - 40px);
    }

    .about {
        padding: 10px;
        margin: 20px auto;
    }

    .about-info-container {
        flex-wrap: wrap;
    }

    .banner {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .header {
        background-color: #fff8f3;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        padding: 0 10px;
    }

    .primary-btn {
        padding: 15px 18px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        margin: 0 20px;

    }
}